body {
    max-width: 100;
}

div.content { 
    width:10px ;
}


.posicion3d {
    display: block ;
    position: relative;
    left: 40px;
    top: 230px;
}

.posicionencabezado {
    display: block ;
    position: absolute;
    left: -10px;
    top: -30px;
}

.posiciontexto {
    width: 360px;
    display: block ;
    position: relative;
    left: 20px;
    bottom: -250px;
    justify-content: center;
}

.back {
    width: 280px;
    display: grid;
    position:relative;
    left: 60px;
    bottom: -300px;

}

.boton {
    display: inline-flex;
    width: 280px ;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 6, 6);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 7px;

}

.boton.cinco .icono {
	display: flex;
	align-items: center;
	position: absolute;
	left: 25px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;

}

a {
    text-decoration:none ;
}

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(248, 244, 244);

}

h2 {
    font-size: 10px ;
    color:blanchedalmond;
}

h3 {
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo {
    width: 410px;
    position: absolute;
    top: 30px;
}

.autor {
    width: 400px;
    position: absolute;
    top: 190px;
}