.posicion3d {
    display: block ;
    position: relative;
    left: 990px;
    top: 380px;
}

.posicionencabezado {
    display: block ;
    position: absolute;
    left: -10px;
    top: -30px;
}

.posiciontexto {
    width: 900px;
    display: block ;
    position: relative;
    left: 100px;
    bottom: -80px;
}